---
import Layout from '@layouts/index.astro';
import { Home, ImageIcon } from '@lucide/vue';
import {
  getBrandIconName,
  getGitHubUrl,
  getLinkedInUrl,
  useTranslatedPath,
  useTranslation,
} from '@utils';
import { info } from '@utils/constants';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import { Navigation } from '@/components/blog';
import Icon from '@/components/icon.vue';
import { Button } from '@/components/ui/button';

const posts = (
  await getCollection(
    'blog',
    (entry) => !entry.data.tags.includes('type:quick-post')
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const { t } = await useTranslation('en', 'blog');
const translatePath = useTranslatedPath(Astro.currentLocale);
---

<Layout
  title={t('metadata-title')}
  description={t('metadata-description')}
  viewTransition={{ enabled: true }}
>
  <nav class="flex-row-center justify-between container">
    <div>
      <Button variant="ghost" size="icon" href="/">
        <Icon icon={Home} />
      </Button>
    </div>
    <div>
      <Button
        variant="ghost"
        size="icon"
        href={getGitHubUrl(info.links.github)}
        target="_blank"
      >
        <iconify-icon icon={getBrandIconName('github')} height="none"
        ></iconify-icon>
      </Button>
      <Button
        variant="ghost"
        size="icon"
        href={getLinkedInUrl(info.links.linkedin)}
        target="_blank"
      >
        <iconify-icon icon={getBrandIconName('linkedin')} height="none"
        ></iconify-icon>
      </Button>
    </div>
  </nav>
  <main class="container py-10">
    <h1 class="text-5xl md:text-9xl text-center mb-10">Rainforest Cheng</h1>
    <div
      class="grid grid-flow-row grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 gap-5 auto-rows-max"
    >
      {
        posts.map(({ data: post, id }) => (
          <a
            href={translatePath(`/blog/${id}`)}
            class="
              md:first:col-span-full lg:first:h-[30dvh] md:first:h-[20dvh] bg-card rounded-lg overflow-hidden hover:shadow
              @container prose-sm max-w-none
              flex gap-4 flex-col md:first:flex-row-center"
          >
            <div class="md:@2xl:h-full @2xl:w-auto w-full aspect-square flex-center">
              {post.image?.src ? (
                <Image
                  width={128}
                  height={128}
                  class="size-full object-cover m-0!"
                  src={post.image.src}
                  alt={post.image.alt}
                  transition:name={`blog-${id}`}
                />
              ) : (
                <Icon icon={ImageIcon} />
              )}
            </div>
            <div class="flex flex-col px-4 pb-3">
              <h2 class="mt-0">{post.title}</h2>
              <p class="line-clamp-4 md:line-clamp-3">{post.description}</p>
            </div>
          </a>
        ))
      }
    </div>
    <div class="fixed bottom-10 left-1/2 -translate-x-1/2">
      <Navigation />
    </div>
  </main>
</Layout>
