---
import { Image } from 'astro:assets';
import clsx from 'clsx';
import Layout from '../layouts/index.astro';
import { resume } from '../utils/constants';
import { Nav, Experience, FAB } from '../components/home';
import { Tag } from '../components';
import { getBrandIconName } from '../utils';
---

<Layout title="Hello! I'm Rainforest">
  <main class="size-full snap-y snap-mandatory overflow-scroll scroll-smooth">
    <Nav />
    <FAB client:load />
    <!-- hero -->
    <section class="flex-center container">
      <div class="h-3/4 items-center flex py-10 px-20 relative justify-between">
        <div class="absolute -z-10 inset-0">
          <div
            class="size-full rounded-xl relative z-0 bg-gray-100 overflow-clip
                  after:content-[''] after:bg-on-background after:h-full after:w-1/2 after:absolute after:-skew-x-[45deg] after:scale-200 after:-z-10 after:-right-1/4 after:top-0"
          >
          </div>
        </div>
        <div class="flex flex-col">
          <p>1997</p>
          <h1 class="text-7xl mt-1 mb-16 w-min text-secondary">
            {resume.hero.title}
          </h1>
          <div class="flex-row-center gap-4">
            <button>Action 1</button>
            <button>Action 2</button>
          </div>
        </div>
        <Image
          height={600}
          width={600}
          src={`/images/profile/${Math.ceil(Math.random() * 4)}.png`}
          alt="profile"
          class="object-cover object-center h-[120%] self-end -mb-10"
        />
        <div class="flex flex-col max-w-[33%] text-background gap-6">
          <ul class="list-disc">
            {resume.hero.summaries.map((summary) => <li>{summary}</li>)}
          </ul>
          <ul class="flex gap-2">
            {
              resume.hero.tags.map((tag) => (
                <li>
                  <Tag name={tag} class="bg-background/85 text-on-background" />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
    <!-- experience -->
    <section id="experience" class="container py-40">
      <h2 class="text-4xl mb-10">Experience</h2>
      <Experience client:load />
    </section>
    <section id="skills" class="container py-40">
      <section>
        <h2 class="text-4xl mb-10">Skills</h2>
        <ul class="grid grid-cols-3 gap-10">
          {
            resume.skills.map((skill) => (
              <li
                class={clsx(
                  'min-w-80 bg-gray-50 px-5 py-4 rounded min-h-80 shadow flex flex-col gap-5 relative',
                  skill.description.length > 2 && 'col-span-2'
                )}
              >
                <h3 class="text-xl">{skill.name}</h3>
                <ul class="list-disc list-inside">
                  {skill.description.map((item) => (
                    <li>
                      <p>{item}</p>
                    </li>
                  ))}
                </ul>
                <iconify-icon
                  icon={getBrandIconName(skill.key)}
                  class="absolute right-5 bottom-4 size-12"
                  height="none"
                />
              </li>
            ))
          }
        </ul>
      </section>
    </section>
  </main>
  <style>
    main > section {
      @apply h-screen flex flex-col snap-always snap-center items-center;
    }
  </style>
</Layout>
