---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import BaseLayout from './index.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, pubDate, description, author: _author, image } = Astro.props;
const author = (await getEntry(_author.collection, _author.id))?.data;
---

<BaseLayout title={title}>
  <article class="container prose">
    <button onclick="history.back()">
      <span class="material-symbols-outlined"> arrow_back </span>
    </button>
    <p>{pubDate.toDateString()}</p>
    <p><em>{description}</em></p>
    <p>Written by: {author?.name}</p>
    <img src={image?.src} width="300" alt={image?.alt} />
    <slot />
  </article>
</BaseLayout>
