---
import SpeedInsights from '@vercel/speed-insights/astro';

import type { HeadProps as Props } from './types';

const _imageUrl = new URL('/images/thumbnail/1.jpg', Astro.url.origin);
const { title, description, imageUrl = _imageUrl } = Astro.props;
const url = Astro.url.toString();

const icons = [
  'arrow_back',
  'arrow_upward',
  'chat_bubble',
  'close',
  'home',
  'image',
  'language',
  'mail',
  'menu',
  'open_in_new',
];
const googleFontsLink = `https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=${icons
  .sort((a, b) => a.localeCompare(b))
  .join(',')}&display=block`;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="currentColor" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Open Graph and Twitter Card Metadata  -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta property="og:title" content={title} />
  <meta property="twitter:title" content={title} />

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Rainforest Tools" />
  <meta property="og:url" content={url} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@rainforesttools" />
  <meta property="twitter:url" content={url} />

  {
    description && (
      <>
        <meta name="description" content={description} />
        <meta property="og:description" content={description} />
        <meta property="twitter:description" content={description} />
      </>
    )
  }
  {
    imageUrl && (
      <>
        <meta property="og:image" content={imageUrl} />
        <meta property="twitter:image" content={imageUrl} />
      </>
    )
  }

  <!-- Google Fonts -->
  <link
    rel="preload"
    href={googleFontsLink}
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link rel="stylesheet" href={googleFontsLink} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
    />
  </noscript>

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" crossorigin />

  <SpeedInsights />
  <slot />
</head>
