---
import '../app.css';

import { ThemeProvider } from '@components';
import SpeedInsights from '@vercel/speed-insights/astro';
import { dir as _dir } from 'i18next';

import type { Props } from './types';

const { title, description } = Astro.props;

const lang = Astro.currentLocale;
const dir = _dir(lang);

const url = Astro.url.toString();
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="currentColor" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/thumbnail/1.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/images/thumbnail/1.jpg" />

    <SpeedInsights />
    <ThemeProvider />
  </head>
  <body>
    <slot />
  </body>
</html>
