---
import { useTranslation } from '@utils';
import { info } from '@utils/constants';

import { Button } from '@/components/ui/button';
import { Input } from '@/components/ui/input';
import { Textarea } from '@/components/ui/textarea';

interface Props {
  id: string;
}
const { id } = Astro.props;

const { lang } = Astro.params;
const { t } = await useTranslation(lang);
---

<contact-form class="flex flex-col gap-2" id={id}>
  <h2 class="text-xl font-semibold">{t('contact-me-title')}</h2>
  <p class="mb-2">{t('contact-me-description')}</p>
  <div class="flex gap-2">
    <Input label={t('contact-me-from-person')} name="name" />
    <Input label={t('contact-me-from-company')} name="company" />
  </div>
  <Input label={t('contact-me-subject')} name="subject" />
  <Textarea label={t('contact-me-message')} name="message" />
  <Button
    as="a"
    data-contact-submit
    class="mt-4 px-6 w-1/2 self-end"
    href={`mailto:${info.email}`}>{t('contact-me-submit')}</Button
  >
</contact-form>

<script>
  import { info } from '@utils/constants';

  class ContactForm extends HTMLElement {
    connectedCallback() {
      const nameField = this.querySelector(
        'input[name="name"]'
      ) as HTMLInputElement;
      const companyField = this.querySelector(
        'input[name="company"]'
      ) as HTMLInputElement;
      const subjectField = this.querySelector(
        'input[name="subject"]'
      ) as HTMLInputElement;
      const messageField = this.querySelector(
        'textarea[name="message"]'
      ) as HTMLTextAreaElement;
      const submitButton = this.querySelector(
        '[data-contact-submit]'
      ) as HTMLAnchorElement;

      const handleFormChange = () => {
        const name = nameField.value;
        const company = companyField.value;
        let subject = subjectField.value;
        const message = messageField.value;

        if (submitButton) {
          const from =
            name && company ? `${name} (${company})` : name || company;
          if (subject && from) subject = `${subject} - ${from}`;
          else if (from) subject = from;
          submitButton.href = `mailto:${info.email}?subject=${subject}&body=${message}`;
        }
      };

      nameField?.addEventListener('change', handleFormChange);
      companyField?.addEventListener('change', handleFormChange);
      subjectField?.addEventListener('change', handleFormChange);
      messageField?.addEventListener('change', handleFormChange);
    }
  }

  if (!customElements.get('contact-form'))
    customElements.define('contact-form', ContactForm);
</script>
