---
import '@material/web/button/filled-button';
import '@material/web/button/outlined-button';
import '@material/web/icon/icon';

import type { IHeroProps as Props } from '@types';
import { useTranslatedPath, useTranslation } from '@utils';
import { Picture } from 'astro:assets';

const props = Astro.props;
const year = props.dateOfBirth.getFullYear();

const lang = Astro.currentLocale;
const { t } = await useTranslation(lang, 'home');
const translatePath = useTranslatedPath(lang);
---

<div class="flex flex-col size-full">
  <div class="relative aspect-square">
    <div
      class="size-full bg-inverse-surface rounded-b-3xl origin-top-right skew-y-12 overflow-clip absolute top-0 z-0"
    >
      <Picture
        src={props.profile}
        alt="profile"
        loading="eager"
        pictureAttributes={{
          class:
            'h-full z-10 absolute -bottom-10 md:-bottom-20 left-1/2 -translate-x-1/2 ',
        }}
        class="object-cover object-top -skew-y-12 size-full"
        densities={[0.1, 0.5, 1]}
      />
    </div>
    <div
      class="text-9xl text-inverse-on-surface/50 rotate-270 origin-bottom inline-block m-4"
    >
      {year}
    </div>
  </div>
  <div class="flex container">
    <div class="flex flex-col w-full">
      <div class="flex-row-center justify-between flex-wrap gap-2">
        <div>
          <h1 class="text-4xl text-secondary">
            {props.name.first}
          </h1>
          <p>{props.jobPosition}</p>
        </div>
        <div class="flex-row-center gap-4">
          <md-filled-button id="contact-me-button" class="px-6"
            >{t('contact-me-title')}</md-filled-button
          >
          <md-outlined-button
            href={translatePath('/resume')}
            target="_blank"
            has-icon
            trailing-icon
            class="px-6 gap-2"
            >{t('resume')}
            <md-icon slot="icon">open_in_new</md-icon>
          </md-outlined-button>
        </div>
      </div>
      <ul class="list-disc list-inside mt-4">
        {props.summaries.map((summary) => <li>{summary}</li>)}
      </ul>
    </div>
  </div>
</div>

<script>
  import { MdFilledButton } from '@material/web/button/filled-button';
  import { MdIconButton } from '@material/web/iconbutton/icon-button';
  import { removeUrlHashAfterNavigation } from '@utils';

  const contactMeButton = document.getElementById(
    'contact-me-button'
  ) as MdFilledButton;
  const menuButton = document.getElementById('menu-trigger') as MdIconButton;
  const handleOpenContactForm = () => {
    menuButton?.click();
  };

  const handleMatches = (matches: boolean) => {
    if (matches) {
      contactMeButton.href = '';
      contactMeButton.onclick = handleOpenContactForm;
    } else {
      contactMeButton.onclick = removeUrlHashAfterNavigation;
      contactMeButton.href = '#contact-form-footer';
    }
  };

  const breakpointMd = getComputedStyle(
    document.documentElement
  ).getPropertyValue('--breakpoint-md');
  handleMatches(window.matchMedia(`(max-width: ${breakpointMd})`).matches);
  window
    .matchMedia(`(max-width: ${breakpointMd})`)
    .addEventListener('change', (e) => {
      handleMatches(e.matches);
    });
</script>
