---
import { ExternalLink } from '@lucide/vue';
import type { IHeroProps as Props } from '@types';
import { useTranslatedPath, useTranslation } from '@utils/i18n';
import { Picture } from 'astro:assets';

import Icon from '@/components/icon.vue';
import { Button } from '@/components/ui/button';

import Tag from '../../tag.astro';

const props = Astro.props;
const year = props.dateOfBirth.getFullYear();

const lang = Astro.currentLocale;
const { t } = await useTranslation(lang, 'home');
const translatePath = useTranslatedPath(lang);
---

<div
  class="h-3/4 w-full flex-row-center justify-between py-10 px-20 relative z-0 rounded-xl shadow-lg"
>
  <div class="absolute -z-10 inset-0 rounded-[inherit] overflow-clip">
    <div
      class="size-full relative z-0 bg-muted overflow-clip
                  after:bg-foreground after:h-full after:w-1/2 after:absolute after:-skew-x-[45deg] after:scale-200 after:-z-10 after:-right-1/4 after:top-0"
    >
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <p>{year}</p>
    <h1 class="text-7xl mt-1 mb-16 text-secondary-foreground">
      {props.name.fullname}
    </h1>
    <div class="flex-row-center gap-4">
      <Button href="#contact-form-footer" class="px-6"
        >{t('contact-me-title')}</Button
      >
      <Button
        variant="outline"
        href={translatePath('/resume')}
        target="_blank"
        class="px-6 gap-2"
        >{t('resume')}
        <Icon icon={ExternalLink} />
      </Button>
    </div>
  </div>
  <Picture
    src={props.profile}
    alt="Rainforest Cheng"
    quality={72}
    loading="eager"
    pictureAttributes={{
      class: 'self-end -mb-10 h-[120%] w-full',
    }}
    class="object-cover object-center h-full w-max mx-auto"
  />
  <div class="flex flex-col justify-center text-background gap-6">
    <ul class="list-disc">
      <li>
        {t('home:hero-brief')}
      </li>
      {props.summaries.map((summary) => <li>{summary}</li>)}
    </ul>
    <ul class="flex gap-2">
      {
        props.tags.map((tag) => (
          <li>
            <Tag name={tag} class="bg-background/85 text-foreground" />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  import { removeUrlHashAfterNavigation } from '@utils';

  const contactMeButton = document.querySelector(
    'a[href="#contact-form-footer"]'
  );
  contactMeButton?.addEventListener('click', removeUrlHashAfterNavigation);
</script>
