---
import {
  ContactForm,
  Experience,
  FAB,
  Footer,
  Nav,
  OneColumns,
  ThreeColumns,
} from '@components/home';
import Layout from '@layouts/index.astro';
import { IHeroProps } from '@types';
import { getBrandIconName } from '@utils';
import { experience, links, tags } from '@utils/constants';
import { hero, info, skills } from '@utils/constants';
import {
  supportedLngs,
  translateExperience,
  useTranslation,
} from '@utils/i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';
import clsx from 'clsx';
import { ComponentProps } from 'react';

const { lang } = Astro.params;
const { t } = await useTranslation(lang, 'home');

const pathnameWithoutLang = Astro.url.pathname.replaceAll(`/${lang}`, '');

const navProps: Parameters<typeof Nav>[0] = {
  anchors: [
    {
      label: t('experience'),
      href: '#experience',
    },
    {
      label: t('skills'),
      href: '#skills',
    },
  ],
  langs: supportedLngs.map((l) => ({
    key: l,
    label: t(`common:${l}`),
    href: getRelativeLocaleUrl(l, pathnameWithoutLang),
  })),
  sections: [
    {
      title: t('resources'),
      links: links.internal.map((link) => ({
        label: t(link.key),
        href: link.href,
      })),
    },
    {
      title: t('social-media'),
      links: links.external.map((link) => ({
        label: t(link.key),
        href: link.href,
      })),
    },
  ],
};

const heroProps: IHeroProps = {
  name: {
    first: t('info-name-first', { context: 'informal' }),
    last: t('info-name-last', { context: 'informal' }),
    fullname: t('info-fullname', { context: 'informal' }),
  },
  profile: `/images/profile/${Math.ceil(Math.random() * 4)}.png`,
  dateOfBirth: new Date(info.dateOfBirth),
  jobPosition: t('info-job-position'),
  location: {
    city: t('info-location', { context: 'city' }),
    country: t('info-location', { context: 'country' }),
  },
  summaries: [
    t('home:hero-summaries.0'),
    t('home:hero-summaries.1'),
    t('home:hero-summaries.2'),
  ],
  tags: hero.tags,
};

const experienceProps: ComponentProps<typeof Experience> = {
  experience: experience.map((item) => translateExperience(t, item)),
  filters: tags.experience.map((tag) => ({
    type: tag,
    label: t(`experience-type-${tag}`),
  })),
};
---

<Layout title={t('metadata-title')} description={t('metadata-description')}>
  <main class="contents">
    <Nav client:load {...navProps}>
      <ContactForm slot="sider" id="contact-form-menu" />
    </Nav>
    <FAB client:load />
    <!-- hero -->
    <section class="flex-center container h-screen xl:flex! hidden!">
      <ThreeColumns {...heroProps} />
    </section>
    <section class="flex! xl:hidden! w-full bg-surface">
      <OneColumns {...heroProps} />
    </section>
    <!-- experience -->
    <section id="experience" class="py-10 sm:h-screen">
      <div class="container flex-col-center size-full">
        <h2 class="text-4xl mb-10">{t('experience')}</h2>
        <Experience client:load {...experienceProps} />
      </div>
    </section>
    <section id="skills" class="py-10 min-h-screen flex flex-col">
      <div class="container grow min-h-[90vh]">
        <h2 class="text-4xl mb-10">{t('skills')}</h2>
        <ul class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 xl:gap-8">
          {
            skills.map((skill) => (
              <li
                class={clsx(
                  'min-w-80 bg-surface-variant text-on-surface-variant px-5 py-4 rounded min-h-80 shadow-lg flex flex-col gap-5 relative',
                  skill.description.length > 2 && 'md:col-span-2'
                )}
              >
                <h3 class="text-xl capitalize">{t(skill.key)}</h3>
                {Array.isArray(skill.description) ? (
                  <ul class="list-disc pl-[1em]">
                    {skill.description.map((item) => (
                      <li>{t(item)}</li>
                    ))}
                  </ul>
                ) : (
                  <p>{t(skill.description)}</p>
                )}
                <iconify-icon
                  icon={getBrandIconName(skill.key)}
                  class="absolute right-5 bottom-4 size-12"
                  height="none"
                />
              </li>
            ))
          }
        </ul>
      </div>
      <Footer />
    </section>
  </main>
  <style>
    html {
      @apply snap-y snap-mandatory scroll-smooth;
    }
    main > section {
      @apply snap-always snap-start;
    }
  </style>
</Layout>
